/* Resetting default styles */

*{
  margin: 0;
  padding: 0;
}


/* Variables */

:root {
  /* texts */
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-dark-neutral: #666666;
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;

  /* checbocks */
  --basic-locked-checbocks: #6A6A6A;
  --basic-range-shadow: #ABABAB;

  /* icons */
  --basic-rest-triangle: #CACACA;
  --basic-neutral-academy: #BDBBBC;
  --basic-dark-academy: #231F20;

  /* backgrounds */
  --basic-light: #F2F2F2;
  --basic-light-neutral: #EBEBEB;
  --basic-light-dark: #A9A9A9;
  --basic-light-neutral-background: #EEEEEE;
  --basic-blue-neutral: #669EC0;
  --basic-blue-dark: #5496BD;
  --basic-brown-neutral: #604E43;
  --basic-brown-dark: #503E33;

  /* opaciti */
  --text-opaciti: rgba(0,0,0,0.3);
  --button-opaciti: rgba(255,255,255,0.3);

  /* border-focus */
  --basic-border-focus: #E5E5E5;
}


 
 .page_body h1,
 .page_body h2 {
  display: none;
  font-size: 14px;
}  

.page_body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* Grid */

.page {
  height: 100%;
}


/* main header */
.main_header {
  
}

/* main navigation */

.main_navigation  {
  display: grid;
  line-height: 26px;
  font-weight: 700;
}

.main_navigation a {
  text-decoration: none;
  color: var(--basic-black);
}

.site_navigation {
   list-style: none;
}

.site_navigation a:hover {
  color: var(--basic-blue);
}

.site_navigation a:active {
  opacity: 0.3;
}

.activ:not([href]) {
  color: var(--basic-brown);
}

/* container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* logo */

.main_header_logo {
  justify-self: center;
}

.main_navigation_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 1200px;
  margin: 0 auto;
}

/* section: first_screen  */

.first_screen figure {
  background-image: url("../img/background_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 509px;
  position: relative;
}

.first_screen_title {
  padding-top: 77px;
}

.first_screen .first_screen_title {
  display: grid;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.first_screen_mask {
  position: absolute;
  bottom: 0;
}

.first_screen p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 42px;
}

/* features */

.features p {
  text-align: center;
  line-height: 26px;
}

.features_item_img_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features_container p:nth-of-type(1) {
  padding-top: 25px;
  padding-bottom: 23px;
}

.features_container h3 {
  padding-top: 47px;
}

.features_cause {
  margin-top: 42px;
  margin-bottom: 51px;
}

.features_list_img, 
.features_list_row {
  list-style: none;
}

.features_list_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 82px;
}

.features_list_row li,
.features_list_img li {
  text-align: center;
}

.features_list_row img {
  padding-bottom: 28px;
}

.features_list_row h3 {
  padding-bottom: 25px;
}

.features_item h3 {
  font-size: 21px;
  font-weight: 700;
}

.features_item_img {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features ul:nth-last-child(1) {
  background-color: var(--basic-light-neutral-background);
  padding-top: 47px;
  padding-bottom: 54px;
}

.features_item_last p:nth-of-type(1) {
  padding-bottom: 23px;
} 

/* search */

.search p {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.search {
  margin: 100px;  /*  для гаглядности формы */
}

.interest {
  margin-top: 58px;
}

.search_form {
  width: 568px;
  height: 395px;
}

 .search .search_info {
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  width: 435px;
  height: 95px;
  margin-top: 4px;
  margin-bottom: 24px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* button */

.button {
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.button_primary {
  background-color: var(--basic-brown);
  padding: 21px 125px;
  width: 568px;
}

.button_primary:hover {
  background-color: var(--basic-brown-neutral);
}

.button_primary:active {
  background-color: var(--basic-brown-dark);
  outline: none;
  color: var(--button-opaciti);
}

/* search_form */

.search_form .search_item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.search_form {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  height: 481px;  /*  кнопка не внутри формы? */

}

.search_container {
  display: grid;
  width: 458px;
  margin: auto;
  margin: 55px;
}

.search_item input {
  background-color: var(--basic-light);
  border: 2px solid var(--basic-light);
  outline: none;
  font: inherit;
  text-transform: uppercase;
  height: 38px;
}

.search_item .arrival_date,
.search_item .departure_date {
  width: 250px;  
  margin-bottom: 29px; 
}

.search_item .adults,
.search_item .children {
  width: 114px; 
}

.search_item input:focus {
  border: 2px solid var(--basic-border-focus);
}

.search_item input:hover {
  background-color: var(--basic-light-neutral);
  border: 2px solid var(--basic-light-neutral);
}

.button_secondary {
  background-color: var(--basic-blue);
  padding: 16px 182px; 
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 55px;
}

.button_secondary:hover {
  background-color: var(--basic-blue-neutral);
}

.button_secondary:active {
  background-color: var(--basic-blue-dark);
  color: var(--button-opaciti);
}


/* map */


/* main_footer */

.main_footer {
  background-color: var(--basic-white);
  opacity: 0.9;
}
.main_footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_contacts p, 
.footer_contacts .footer_phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer_phone {
  text-decoration: none;
  color: inherit;	
}

.footer_social {
  justify-self: center;
}

.footer_social ul {
  list-style: none;
}

.footer_social li {
  width: 46px;
  height: 48px;
}

.social_item {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  text-align: center;
}

.social_item svg {
  margin-top: 14px;
}

.social_icon {
  fill: var(--basic-white);
}

.social_item:hover {
 background-color: var(--basic-blue-neutral);
}

.social_item:active {
 background-color: var(--basic-blue-dark);
 fill-opacity: 0.3;
}

.footer_copyright {
  line-height: 26px;
    max-width: 150px;
  margin: 0;
  justify-self: end;
}

.copyright_icon {
  fill: var(--basic-dark-academy);
}

.copyright_icon:hover {
  fill: var(--basic-blue);
}


.copyright_icon:active {
  fill: var(--basic-neutral-academy);
}



/* catalog.html */

.filter_hotel {
  position: relative;
  width: 1200px;
  height: 217px;
  box-sizing: border-box;
  padding: 0;
}

.filter_hotel_img {
  background: url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  position: absolute;
  filter: blur(5px);
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  z-index: -1;
}

.selection_form legend {
  font-size: 16px;
  font-weight: 700;
  color: var(--basic-white);
}


.selection_form fieldset {
  border: none;

}

.filter_hotel li {
  list-style: none;
  color: var(--basic-white);
}

.fieldset_range p {
  color: var(--basic-white);

}
 .fieldset_item {
  color: var(--basic-white);
  outline:none;
  background: transparent;
  border: none;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button_show {
  color: var(--basic-white);
  outline: none; 
  background: transparent;
  text-transform: uppercase;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  padding: 8px 35px;
  cursor: pointer;
}

/* sorting:  */

.hotel_sorting p,
.hotel_name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel_sorting legend {
  font-size: 12px;
  line-height: 18px;
}

.hotel_sorting fieldset {
  border: none;
}


.hotel_sorting li {
  list-style: none;
}

/*  Then remove as I will align the blurry picture  */
.hotel_sorting {
  margin-top: 160px;
}
/* --- */

.hotel_item  {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-blue);
  color: var(--text-opaciti);
}

.hotel_item_active {
  color: var(--basic-blue);
  border-bottom: none;
}

.hotel_item:hover {
  border-bottom: 1px dotted var(--basic-blue);
  color: var(--basic-blue);
}

.hotel_item:active {
  color: var(--basic-black);
  border-bottom: none;
}

.triangle, 
.hotel_name,
.button_sorting_book {
  text-decoration: none;
}

.triangle:hover path,
.triangle:hover path {
  fill: var(--basic-black);
}

.triangle:active path,
.triangle:active path  {
  fill: var(--basic-blue);
}

.hotel_name {
  color: var(--basic-black);
}

.hotel_name:hover {
  color: var( --basic-blue);
}

.hotel_name:active {
  color: var(--text-opaciti);
}


.hotel_list p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

/* More and book buttons */

.button_sorting_more,
.button_sorting_book {
  font-size: 14px;
  line-height: 21px;
  padding-left: 17px;
  padding-right: 16px;
}

.button_sorting_more {
  background-color: var(--basic-blue);
}

.button_sorting_book {
  background-color: var(--basic-brown);
}

.button_sorting_more:hover {
  background-color: var(--basic-blue-neutral)
}

.button_sorting_more:active {
  color: var(--button-opaciti);
  background-color: var(--basic-blue-dark);
}

.button_sorting_book:hover {
  background-color: var(--basic-brown-neutral);
}

.button_sorting_book:active {
  background-color: var(--basic-brown-dark);
  color: var(--button-opaciti);
}

.rating {
  color: var( --basic-dark-neutral);
  background-color: var(--basic-light);
  width: 110px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
}
















