/* Resetting default styles */

*{
  margin: 0;
  padding: 0;
}


/* Variables */

:root {
  /* texts */
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-dark-neutral: #666666;
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;

  /* checbocks */
  --basic-locked-checbocks: #6A6A6A;
  --basic-range-shadow: #ABABAB;

  /* icons */
  --basic-rest-triangle: #CACACA;
  --basic-neutral-academy: #BDBBBC;
  --basic-dark-academy: #231F20;

  /* backgrounds */
  --basic-light: #F2F2F2;
  --basic-light-neutral: #EBEBEB;
  --basic-light-dark: #A9A9A9;
  --basic-light-neutral-background: #EEEEEE;
  --basic-blue-neutral: #669EC0;
  --basic-blue-dark: #5496BD;
  --basic-brown-neutral: #604E43;
  --basic-brown-dark: #503E33;

  /* opaciti */
  --text-opaciti: rgba(0,0,0,0.3);
  --button-opaciti: rgba(255,255,255,0.3);

  /* border-focus */
  --basic-border-focus: #E5E5E5;
}

 .page_body h1,
 .page_body h2 {
  display: none;
  font-size: 14px;
}  

.page_body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* Grid */

.page {
  height: 100%;
}


/* main header */
.main_header {
  
}

/* main navigation */

.main_navigation  {
  line-height: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main_navigation a {
  text-decoration: none;
  color: var(--basic-black);
 
}

.main_navigation_wrapper {
  background-color: var(--basic-white);
  width: 100%; 
}

.site_navigation {
  list-style: none;
  display: flex;
  height: 56px;
  align-items: center;
}

.site_navigation li {
  width: 25%;
}

.site_navigation li:last-child,
.site_navigation li:nth-last-child(2) {
  text-align: right;
}

.site_navigation a:hover {
  color: var(--basic-blue);
}

.site_navigation a:active {
  opacity: 0.3;
}

.activ:not([href]) {
  color: var(--basic-brown);
}

/* container */

.container {
  width: 1200px; 
  margin: 0 auto;
  padding: 0 10px; 
}


/* logo */

.main_header_logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

}

/* section: first_screen  */

.first_screen figure {
  background-image: url("../img/background_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 509px;
  position: relative;
}

.first_screen_title {
  padding-top: 77px;
}

.first_screen .first_screen_title {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.first_screen_mask {
  position: absolute;
  bottom: 0;
}

.first_screen p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 42px;
}

/* features */

.features p {
  text-align: center;
  line-height: 26px;
}

.features_item h3 {
  font-size: 21px;
  font-weight: 700;
}

.features_item_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature_number {
  padding: 25px 0; 
}

.features_container h3 {
  padding-top: 47px;
}

.features_cause {
  margin: 42px 0 51px;
}

.features_list_img, 
.features_list_row,
.features_list_row_background {
  list-style: none;
  text-align: center;
}

.features_list_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 60px 0 82px;
}

.features_list_row_background {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.features_list_row .features_list_title {
  margin: 28px 0 25px;
}

.features_item_img {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features .features_item_last {
  background-color: var(--basic-light-neutral-background);
  padding: 47px 0 54px;
}

/* search */

.search p {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.interest {
  margin-top: 58px;
}

.search_form {
  width: 568px;
  height: 395px;
}

 .search .search_info {
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  width: 435px;
  height: 95px;
  align-items: center;
  margin: 4px auto 24px;
}

/* button */

.button {
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.button_primary {
  background-color: var(--basic-brown);
  padding: 21px 125px;
  width: 568px;
}

.button_primary:hover {
  background-color: var(--basic-brown-neutral);
}

.button_primary:active {
  background-color: var(--basic-brown-dark);
  outline: none;
  color: var(--button-opaciti);
}

/* search_form */

.search_form .search_item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.search_form {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  height: 481px;  /*  кнопка не внутри формы? */

}

.search_container {
  display: grid;
  width: 458px;
  margin: 55px;
}

.search_item {
  display: flex;
  align-items: center;
}

.search_item_margin {
  margin-bottom: 30px;
}

.search_item label {
  margin-right: 9px;  /* потом поменяю когда форму буду доделывать */
}

.search_item input {
  background-color: var(--basic-light);
  border: 2px solid var(--basic-light);
  outline: none;
  font: inherit;
  text-transform: uppercase;
  height: 38px;
}

.search_item .arrival_date,
.search_item .departure_date {
  width: 314px;  /* потом поменяю когда форму буду доделывать */
}

.search_item .adults,
.search_item .children {
  width: 114px; 
}

.search_item input:focus {
  border: 2px solid var(--basic-border-focus);
}

.search_item input:hover {
  background-color: var(--basic-light-neutral);
  border: 2px solid var(--basic-light-neutral);
}

.button_secondary {
  background-color: var(--basic-blue);
  padding: 16px 196px; 
  margin: 0 55px 55px;
}

.button_secondary:hover {
  background-color: var(--basic-blue-neutral);
}

.button_secondary:active {
  background-color: var(--basic-blue-dark);
  color: var(--button-opaciti);
}


/* map */


/* main_footer */

.main_footer {
  background-color: var(--basic-white);
  opacity: 0.9;
}
.main_footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.footer_contacts p, 
.footer_contacts .footer_phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer_phone {
  text-decoration: none;
  color: inherit;	
}

.footer_contacts,
.footer_social,
.footer_copyright_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.footer_social ul {
  list-style: none;
}

.social_item {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_button_list {
  display: flex;
}

.social_button_list li {
  margin-right: 6px;
}

.social_icon {
  fill: var(--basic-white);
}

.social_item:hover {
 background-color: var(--basic-blue-neutral);
}

.social_item:active {
 background-color: var(--basic-blue-dark);
 fill-opacity: 0.3;
}

.footer_copyright {
  line-height: 26px;
  max-width: 205px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_copyright a {
  margin-left: 8px;
}

.copyright_icon {
  fill: var(--basic-dark-academy);
}

.copyright_icon:hover {
  fill: var(--basic-blue);
}

.copyright_icon:active {
  fill: var(--basic-neutral-academy);
}


/* catalog.html */

.filter_hotel {
  width: 1200px;
  height: 217px;
  background-image: url("../img/background_blur.jpg");
}

.filter_hotel_form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.filter_hotel_item{
  display: flex;
}

.infrastructure {
  margin-right: 119px;
  padding: 0;
}

.type_of_housing {
  padding: 0;
}

.filter_hotel_cost {
  width: 317px;
  justify-self: end;
  display: grid;
}

.filter_hotel_infrastructure,
.filter_hotel_infrastructure {
  width: 135px;
}

.filter_hotel_form legend,
.filter_hotel_form p {
  font-size: 16px;
  font-weight: 700;
  color: var(--basic-white);
}

.filter_hotel_form fieldset {
  border: none;
}

.filter_hotel_list li {
  margin-top: 24px;
}

.filter_hotel_container {
  margin-top: 27px;
}

.filter_hotel li {
  list-style: none;
  color: var(--basic-white);
}

.fieldset_range p {
  color: var(--basic-white);
}

 .fieldset_item {
  color: var(--basic-white);
  outline: none;
  background: transparent;
  border: none;
  width: 50px;
  padding: 2px;
 }

 .filter_hotel_cost_border {
  border: 2px solid var(--basic-white);
  display: flex;
  height: 36px;
  margin: 10px 0 10px;
 }

 .filter_hotel_cost_border div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
 }

 .filter_hotel_cost .filter_hotel_input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button_show {
  color: var(--basic-white);
  outline: none; 
  background: transparent;
  text-transform: uppercase;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  padding: 8px 35px;
  cursor: pointer;
  width: 137px;
  justify-self: center;
  margin-top: 23px;
}

/* sorting:  */

.hotel_sorting p,
.hotel_name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog_container {
  padding-left: 72px;
  padding-right: 72px;
}

.hotel_sorting .sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.hotel_sorting_fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}

.hotel_sorting_container {
  display: flex;
  align-items: center;
}

.hotel_sorting_list {
 display: flex;
}

.hotel_sorting_fieldset .sorting {
  margin: 0 40px 0 54px;
}

.hotel_sorting li {
  list-style: none;
}

.hotel_sorting_list li {
  margin-right: 32px;
}

.hotel_item  {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-blue);
  color: var(--text-opaciti);
}

.hotel_item_active {
  color: var(--basic-blue);
  border-bottom: none;
}

.hotel_item:hover {
  border-bottom: 1px dotted var(--basic-blue);
  color: var(--basic-blue);
}

.hotel_item:active {
  color: var(--basic-black);
  border-bottom: none;
}

 .triangle_container {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(2, 1fr);
 } 

.triangle, 
.hotel_name,
.button_sorting_book {
  text-decoration: none;
}

.triangle:hover path,
.triangle:hover path {
  fill: var(--basic-black);
}

.triangle:active path,
.triangle:active path  {
  fill: var(--basic-blue);
}

.hotel_name {
  color: var(--basic-black);
}

.hotel_name:hover {
  color: var( --basic-blue);
}

.hotel_name:active {
  color: var(--text-opaciti);
}

.hotel_list p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel_list .hotel_list_item {
  display: grid;
  grid-template-columns: 1fr auto;
}

 .hotel_list_container {
  margin: 30px 0 30px;
 }

 .hotel_list_container figure {
  margin-right: 30px ;
 }

 .figure_img {
  grid-row: 1/4;
  grid-column: 1/2;
 }

 .hotel_list_container {
  display: grid;
  grid-template-columns: 159px 142px 142px 1fr;
  grid-template-rows: 1fr auto 27px;
  grid-column-gap: 6px;
 }

.hotel_list_container span{
  margin: 8px 0;
}

/* More and book buttons */

.button_sorting_more {
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  padding: 3px 17px; 
}

 .hotel_name {
  grid-column: 2/-1;
  grid-row: 1/2;
 }

.button_sorting_more {
  background-color: var(--basic-blue);
  grid-row: 3/4;
  grid-column: 2/3;
}

.button_sorting_book {
  background-color: var(--basic-brown);
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px 3px; 
  grid-row: 3/4;
  grid-column: 3/4;
}

.button_sorting_more:hover {
  background-color: var(--basic-blue-neutral)
}

.button_sorting_more:active {
  color: var(--button-opaciti);
  background-color: var(--basic-blue-dark);
}

.button_sorting_book:hover {
  background-color: var(--basic-brown-neutral);
}

.button_sorting_book:active {
  background-color: var(--basic-brown-dark);
  color: var(--button-opaciti);
}

.rating {
  color: var( --basic-dark-neutral);
  background-color: var(--basic-light);
  padding: 3px 12px 3px 15px;
}

.rating_stars .stars { 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 6px;
  margin-bottom: 47px;
  transform: scale(-1, 1);
 }

.rating_stars  {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 110px;
  justify-self: end;
 }










